@use 'base/variables' as v;

@use 'base/mixins' as m;

.paginacion {

  padding: calc(v.$separacion / 2);

  @include m.telefono {

    display: flex;

    justify-content: space-between;

  }

  button {

    margin: 2rem 0;

    // Le agregamos separacion entre los botones

    @include m.telefono {

      margin-right: 1rem;

      // Quitamos el margin que se genera en el ultimo boton

      &:nth-child(2) {

        margin-right: 0;

      }

    }

  }

}

.ocultar {

  visibility: hidden;

}