.seccion {

  padding: 5rem 0;

  display: none;

  .text-center {

    text-align: center;

  }

  // Espacio para que el mensaje de error por fecha esta mas separado del texto de arriba

  .separado {

    margin-top: 2rem;

  }

}

// CLASES QUE SE MOSTRARAN/OCULTARAN CON JS

.mostrar {

  display: block;

}

.ocultar {

  display: none;

}